*.elc
*~
/Makefile
/Makefile.in
/aclocal.m4
/auto-autoloads.el
/autom4te.cache
/config.log
/config.status
/configure
/depcomp
/elc-stamp
/elisp-comp
/esh-groups.el
/eshell-auto.el
/eshell.info
/install-sh
/missing
/texinfo.tex
